* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    background-color: #1d1d20;
    color: #cccccc;
    margin: 0;
    padding: 0;
}


button {
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
}

.loading-spinner {
    z-index: 2;
    position: fixed;
    inset: 0;
    background-color: #1d1d20;
    animation-name: loading-spinner;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes loading-spinner {
    0% {
        opacity: 1;
    }

    70% {
        opacity: 1;
        z-index: 2;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

.loader {
    border: 24px solid;
    border-color: rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: animloader 1s linear infinite;
}

@keyframes animloader {
    0% {
        border-color: rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.75);
    }

    33% {
        border-color: rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35);
    }

    66% {
        border-color: rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25);
    }

    100% {
        border-color: rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.15);
    }
}


.welcome-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #1d1d20;
    color: #cccccc;
    font-size: 2.4rem;
}

.welcome-header h1 {
    padding: 0%;
    margin: 0%;
    margin-bottom: 5%;
}

.welcome-header a {
    text-decoration: none;
    color: #cccccc;
    cursor: pointer;
}

.header-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

}

.header-icon a {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    filter: grayscale(80%);
    transition-duration: 0.3s;
}

.header-icon a:hover {
    filter: grayscale(20%);
    transform: scale(1.1);
}

.home {

    color: #cccccc;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.border {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border-radius: 5px;

}

.border-left {
    border-top: 10px #cccccc solid;
    border-left: 10px #cccccc solid;
}

.border-right {
    left: 87vw;

    border-bottom: 10px #cccccc solid;
    border-right: 10px #cccccc solid;
}

.border-left::after {
    filter: blur(2px);
    position: absolute;
    bottom: 1px;
    right: 1px;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border-radius: 5px;
    content: "";
    border-top: 5px #cccccc solid;
    border-left: 5px #cccccc solid;
}

.border-right::after {
    filter: blur(2px);
    border-bottom: 5px #cccccc solid;
    border-right: 5px #cccccc solid;
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border-radius: 5px;
    content: "";

}

.main-container {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: baseline;
    position: relative;
}


.main-description {

    padding-left: 5%;
    padding-right: 5%;
}

.main-description-animation {
    animation-name: description-animation;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    transform-origin: left;
}

@keyframes description-animation {
    0% {
        opacity: 0;
        transform: scaleX(0.9);
    }


    100% {
        opacity: 1;
        transform: scaleX(1)
    }
}

.main-link {
    padding-left: 5%;
    padding-right: 5%;
}

.main-navigation {

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.main-content {

    width: 80%;
    height: 100%;
    margin: 50px;
    margin-bottom: 0px;
    line-height: 40px;
}

.main-content-animation {
    animation-name: slide-in;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateY(20%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%)
    }
}

.main-image-animation {
    animation-name: image-animation;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    transform-origin: left;
}

@keyframes image-animation {
    0% {
        opacity: 0;
        transform: scaleX(0%);
    }

    100% {
        opacity: 1;
        transform: scaleX(100%);
    }
}

.main-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main-flex img {
    width: 400px;
    height: 200px;
    object-fit: scale-down;
    object-position: 50% 50%;
    border: 5px #cccccc solid;
    border-radius: 5px;
    background-color: white;
}

.secondary-navigation-container {
    max-width: 500px;
}

.secondary-navigation {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    padding: 10px;
    margin: 20px;
    border-left: 3px #1d1d20 solid;
    color: #cccccc;
    position: relative;
}



.main-button {
    border: 5px #cccccc solid;
    color: #cccccc;
    width: 200px;
    height: 60px;
    margin-bottom: 50px;
    -ms-transform: skewX(-20deg);
    /* IE 9 */
    -webkit-transform: skewX(-20deg);
    /* Safari */

    display: block;

    background: linear-gradient(to right, white 50%, black 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .3s ease-out;
}


.active {
    background-position: left bottom;
    color: black;
}

.main-button h3 {
    -ms-transform: skewX(20deg);
    /* IE 9 */
    -webkit-transform: skewX(20deg);
    /* Safari */
    transform: skewX(20deg);
}

.secondary-button {
    border: 3px white solid;
    color: white;
    border-radius: 5px 0px 5px 0px;
    width: 130px;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
    -ms-transform: skewX(-20deg);
    /* IE 9 */
    -webkit-transform: skewX(-20deg);
    /* Safari */
    transform: skewX(-20deg);
    background-color: transparent;
    transition-duration: 0.3s;
}

.secondary-button-display-none {
    opacity: 0;
}

.secondary-button-animation {
    animation-name: slide-left;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
}

@keyframes slide-left {
    0% {
        opacity: 0;
        -ms-transform: skewX(-20deg);
        /* IE 9 */
        -webkit-transform: skewX(-20deg);
        /* Safari */
        transform: skewX(-20deg);
    }

    100% {
        opacity: 1;
        -ms-transform: skewX(-20deg);
        /* IE 9 */
        -webkit-transform: skewX(-20deg);
        /* Safari */
        transform: skewX(-20deg);

    }
}

.secondary-button:hover {
    scale: 1.05;
    border: 3px brown solid;
}


.secondary-button:focus {
    border: 3px brown solid;
    background-color: ivory;
}


.secondary-button h3 {
    -ms-transform: skewX(20deg);
    /* IE 9 */
    -webkit-transform: skewX(20deg);
    /* Safari */
    transform: skewX(20deg);
}

.secondary-title {
    color: white;

}

.link-project {
    color: #cccccc;
    padding: 10px;
    text-decoration: none;
    border-bottom: 2px #cccccc solid;

}

.link-project:hover {
    border-bottom: 2px #fdca40 solid;
}

.signature-container {
    width: 90%;
    text-align: right;
}

@media screen and (max-width:930px) {
    html {
        width: 100%;
    }

    img {
        width: 50%;
        height: 50%;
    }

    .welcome-header {
        flex-direction: column;
        align-items: center;
        font-size: 1.6rem;
        margin-bottom: 30px;
    }

    .header-icon {
        justify-content: space-around;
    }

    .header-icon a {
        width: 100px;
        text-align: center;
        margin: 0;
    }

    .home {
        width: 100%;
        margin: 0;
        padding: 0;
        align-items: center;
    }

    .main-container {
        flex-direction: column-reverse;
        align-items: center;

        width: 100%;
    }

    .main-navigation {
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .main-flex img {
        width: 100%;
    }

    .main-content {
        margin: 0;
        width: 80%;
    }

    .main-button {
        width: 250px;
        margin-bottom: 10px;
    }

    .secondary-navigation-container {
        width: 90%;
        margin-left: 20px;
        margin-right: 20px;
    }

    .secondary-navigation {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        padding: 0;
        padding-top: 30px;
        margin: 0;
        border-bottom: 3px #cccccc solid;
        border-left: none;
    }

    .main-content {
        width: 100%;
    }

    .main-description {
        margin: 0;
        margin-top: 50px;
    }

    .main-flex {
        flex-direction: column;
    }

    .border-right {
        display: none;
    }


}